<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.wardrobe.mapper.AdminMapper">
    <update id="updateAdmin" parameterType="com.example.wardrobe.entity.Admin">
        update admin
        set admin_name = #{admin_name},admin_password = #{admin_password}
        where admin_id = #{admin_id} and secret_key = #{secret_key};
    </update>

    <delete id="deleteSelf">
        delete from admin where secret_key = #{secret_key};
    </delete>

    <select id="getAdminInfo" resultType="com.example.wardrobe.entity.Admin">
        select * from admin
        <where>
            <if test="secret_key!=null">
                secret_key = #{secret_key}
            </if>
        </where>
    </select>
</mapper>